{% extends 'navigation.html' %}
{% load static %}
{% block body %}

{% ifequal error "no" %}
  <script>
      alert('Thanks {{msg}}, We have recieved your email and we will respond shortly...');
      window.location.href="{% url 'contact' %}";
  </script>

{% endifequal %}

{% ifequal error "yes" %}
  <script>
      alert('something went wrong');
  </script>

{% endifequal %}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
              <h2>Contact</h2>
              <ol>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Contact</li>
              </ol>
            </div>
    
          </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Contact Section ======= -->
        <div class="map-section">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/d/embed?mid=1i_veg_RhjG3g6mNZVaIFrup7N5BCzWiH"  frameborder="0" allowfullscreen></iframe>
        </div>
    
        <section id="contact" class="contact">
          <div class="container">
    
            <div class="row justify-content-center" data-aos="fade-up">
    
              <div class="col-lg-10">
    
                <div class="info-wrap">
                  <div class="row">
                    <div class="col-lg-4 info">
                      <i class="icofont-google-map"></i>
                      <h4>Location:</h4>
                      <p>OrkaFarm LLP<br>Corporate Office 302, 3rd flr, Akshay Apt, Off Arrey Road<br>Naikwadi, Goregaon East, Mumbai-400063</p>
                    </div>
    
                    <div class="col-lg-4 info mt-4 mt-lg-0">
                      <i class="icofont-envelope" ></i>
                      <h4>Email:</h4>
                      <p>info@orkafarm.com<br>contact@orkafarm.com</p>
                    </div>
    
                    <div class="col-lg-4 info mt-4 mt-lg-0">
                      <i class="icofont-phone"></i>
                      <h4>Call:</h4>
                      <p>+91 836965303<br>+91 9820949636</p>
                    </div>
                  </div>
                </div>
    
              </div>
    
            </div>
    
            <div class="row mt-5 justify-content-center" data-aos="fade-up">
              <div class="col-lg-10">
                <form method="post" role="form" class="php-email-form" action="{% url 'contact' %}">
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-6 form-group">
                      <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" /> -->
                      <input type="text" class="form-control" placeholder="Your Name" name="name" required>
                      <div class="validate"></div>
                    </div>
                    <div class="col-md-6 form-group">
                      <!-- <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" /> -->
                      <input type="email" class="form-control" placeholder="Your Email" name="email" required>
                      <div class="validate"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" /> -->
                    <input type="text" class="form-control" placeholder="Subject" name="subject" required>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" /> -->
                    <input type="text" class="form-control" placeholder="Contact Number" name="contact" required pattern="[0-9]{10,13}">

                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" required data-msg="Please write something for us" placeholder="Message"></textarea>
                    <!-- <in<input type="text" class="form-control" placeholder="Contact" name="contact" requireput type="text" class="form-control" placeholder="Contact" name="contact" required> -->
                    <div class="validate"></div>
                    <br>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                  <br><br>
                  <!-- {% ifequal error 'no' %}
                  <center><p>Thanks {{msg}},Your message has been sent. Thank you!</p></center>
                  {% endifequal %} -->
                </form>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->
      </main>

    <!-- ======= Contact Section ======= -->
    <footer id="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 footer-contact" style="text-align: right;">
                  <h3>OrkaFarm LLP</h3>
                  <p>
                    Corporate Office 302, 3rd flr, Akshay Apt, Off Arrey Road<br>
                    Naikwadi, Goregaon East<br>
                    Mumbai-400063, Maharashtra,India
                     <br><br>
                    <strong>Phone:</strong> +91 836965303<br>
                    <strong>Email:</strong> info@orkafarm.com<br>
                  </p>
                  
                </div>
            <div class="col-lg-2 col-md-6 footer-contact" style="text-align:right;">
              <h4>USEFUL LINKS</h4>
              <p><a href="{% url 'index' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>HOME</strong></a></p>
              <p><a href="{% url 'about' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>ABOUT US</strong></a></p>
              <!-- <p><a href="#" style="color:  rgba(255, 255, 255, 0.7);"><strong>STORE</strong></a></p> -->
              <p><a href="{% url 'contact' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>CONTACT</strong></a></p>
              <p><a href="{% url 'farm' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>OUR FARM</strong></a></p>
            </div>
            <div class="col-lg-3 col-md-6 footer-contact" style="text-align: right;">
              <h3>LEGAL</h3>
                  <p><a href="{% url 'terms' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>TERMS & CONDITIONS</strong></a></p>
                  <p><a href="{% url 'policy' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>POLICY</strong></a></li></p>
              
              
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container d-md-flex py-4">
  
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong><span>OrkaFarm LLP</span></strong>. All Rights Reserved
          </div>
          
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </footer>
    <!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}