{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs" style="color: #009DD7;">
    <div class="container">
          
      <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Login</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
  <!-- ======= Contact Section ======= -->
  <!-- <div class="map-section">
    <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
  </div> -->

  <section id="contact" class="contact">
    <div class="container">

      <div class="row justify-content-center" data-aos="fade-up">
        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right">
              <h2><img src="{% static 'assets/img/loginpic.jpg' %}" class="img" style="width: 50%; height: 50%; margin-left: 60px;margin-top: 20px;"></h2>
            </div>
        

        <!-- <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Village Kochret<br>Taluka Vengural,Zilha Sindhudurg<br>Maharashtra,India</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-envelope" ></i>
                <h4>Email:</h4>
                <p>info@orkafarm.com<br>contact@orkafarm.com</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 836965303<br>+91 9820949636</p>
              </div>
            </div>
          </div> -->

        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <form method="post" role="form" class="php-email-form" action="{% url 'contact' %}">
            {% csrf_token %}
            <!-- <div class="form-row"> -->
              <!-- <div class="col-md-6 form-group"> -->
                <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" /> -->
                <!-- <input type="text" class="form-control" placeholder="Your Name" name="name" required> -->
                <!-- <div class="validate"></div> -->
              <!-- </div> -->
              <!-- <div class="col-md-6 form-group"> -->
                <!-- <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" /> -->
                <!-- <input type="email" class="form-control" placeholder="Your Email" name="email" required> -->
                <!-- <div class="validate"></div> -->
              <!-- </div> -->
            <!-- </div> -->
            <div class="form-group">
              <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" /> -->
              <input type="email" class="form-control" placeholder="Email" name="#" required>
              <div class="validate"></div>
            </div>
            <div class="form-group">
                <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" /> -->
                <input type="password" class="form-control" placeholder="Password" name="#" required>
                <div class="validate"></div>
            </div>
            <!-- <div class="form-group"> -->
              <!-- <textarea class="form-control" name="message" rows="5" required data-msg="Please write something for us" placeholder="Message"></textarea> -->
              <!-- <in<input type="text" class="form-control" placeholder="Contact" name="contact" requireput type="text" class="form-control" placeholder="Contact" name="contact" required> -->
              <!-- <div class="validate"></div> -->
              <br>
            <div class="text-center"><button type="submit">Login</button>
            
            </div>
            <br>
            <p>Don't have an account? <a href="#">SignUp</a></p>
            <!-- {% ifequal error 'no' %}
            <center><p>Thanks {{msg}},Your message has been sent. Thank you!</p></center>
            {% endifequal %} -->
          </form>
        </div>

      </div>

    </div>
    </div>
    </div>
  </section><!-- End Contact Section -->
</main>



{% endblock %}