{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="color: #009DD7;">
      <div class="container">
            
        <div class="d-flex justify-content-between align-items-center">
            <h2>About</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Managing Partner</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
        <div class="container" data-aos="fade-up">
  
          <div class="row content">
            <div class="col-lg-6" data-aos="fade-right">
              <h2 style="color: #C46627;"><strong>Madhusudan D Rajbhar</strong></h2>
              <p> <img src="{% static 'assets/img/madhu.jpg' %}" class="img" style="width: 80%; border-radius: 2%;"></p>
                   
                  
              <!-- <p style= "margin-top: 15%;">main goal of our foundation is to produce high quality products with our expertise and make them available to consumers efficiently.  Orka also operates on the distribution network of its produce enabling customers to have best quality of its farm yield at a reasonable price.  Apart from traditional supply chain management Orka has adopted modern technology which will enable customers to order Orka products sitting at home.</p> -->
              <!-- <p> <img src="{% static 'assets/img/farm6.jpeg' %}" class="img" style="width: 40%;height: 40%;margin-left: 40%; margin-top: 15%;"></p> -->
              
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
   
              <p style="margin-top: 20%; font-size: large;"></b>Madhusudan belonging to farmer family,is basically an IT Professional with 20 years of insightful knowledge. He has been successfully managing various business in various industries from IT to Media. Apart from traditional farming background, Madhusudan also belongs to a business background which gives him insight of any business ideas. </p>
              <p style="margin-top: 5%; font-size: large;"></b>Madhusudan is an astute planner with excellent communication, analytical problem solving and relationship management skills. He brings his valuable experience in conceptualization,strategic planning and implementation of best IT practices to automate farming practices and supply chain management of various ORKA products.</p>
              <p style="margin-top: 5%; font-size: large;"></b>His 20+ years of experience in various fields has helped the company grow with inbuilt strength and financial stability.</p>
  
              <!-- <p> <img src="{% static 'assets/img/farm2.jpeg' %}" class="img" style="width: 100%;height: 100%; margin-top: 18%;"></p> -->
              <!-- <p style="margin-top: 20%;">OrkaFarm (Orka) is a diversified agri-aqua business company focussed on producing fresh and healthy products to its customers at reasonable price.  We at Orka are constantly looking for research-based solutions to improve farm productivity and also share our experiences by providing free consultancy to farmers. At Orka we believe in <b>“Quality is the Essence”</b></p> -->
              <!-- <p class="font-italic"> -->
                
              </p>
            </div>
            
          </div>
          
            
          </div>
      </section><!-- End About Us Section -->
  
      <!-- ======= Our Team Section ======= -->
      <!-- End Our Team Section -->
  
      <!-- ======= Our Skills Section ======= -->
  <!-- End Our Skills Section -->
  
      <!-- ======= Our Clients Section ======= -->
  <!-- End Our Clients Section -->
  
    </main

<!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <!-- End Our Team Section -->

    <!-- ======= Our Skills Section ======= -->
<!-- End Our Skills Section -->

    <!-- ======= Our Clients Section ======= -->
<!-- End Our Clients Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <!-- ======= Footer ======= -->
 <footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact" style="text-align: right;">
            <h3>OrkaFarm LLP</h3>
            <p>
              Corporate Office 302, 3rd flr, Akshay Apt, Off Arrey Road<br>
              Naikwadi, Goregaon East<br>
              Mumbai-400063, Maharashtra,India
               <br><br>
                <strong>Phone:</strong> +91 836965303<br>
                <strong>Email:</strong> info@orkafarm.com<br>
              </p>
              
            </div>
        <div class="col-lg-2 col-md-6 footer-contact" style="text-align:right;">
          <h4>USEFUL LINKS</h4>
          <p><a href="{% url 'index' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>HOME</strong></a></p>
          <p><a href="{% url 'about' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>ABOUT US</strong></a></p>
          <!-- <p><a href="#" style="color:  rgba(255, 255, 255, 0.7);"><strong>STORE</strong></a></p> -->
          <p><a href="{% url 'contact' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>CONTACT</strong></a></p>
          <p><a href="{% url 'farm' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>OUR FARM</strong></a></p>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact" style="text-align: right;">
          <h3>LEGAL</h3>
              <p><a href="{% url 'terms' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>TERMS & CONDITIONS</strong></a></p>
              <p><a href="{% url 'policy' %}" style="color:  rgba(255, 255, 255, 0.7);"><strong>POLICY</strong></a></li></p>
          
          
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>OrkaFarm LLP</span></strong>. All Rights Reserved
      </div>
      
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
 <!-- End Footer -->

{% endblock %}